@tailwind base;
@tailwind components;
@tailwind utilities;

/* .prose {
  max-width: 100%;
} */

.prose p > img[src*='icon/assets/'] {
  @apply inline-block m-0;
}

#nav {
  height: 100%;
}

@media (min-width: 1024px) {
  #nav {
    height: calc(100vh - 8rem);
  }
}

[aria-active='true'] {
  @apply text-erin font-semibold;
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-erin bg-gray-700 rounded-t;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

.toc-item[aria-level='3'] {
  @apply pl-4;
}

html {
  scroll-behavior: smooth;
}

.katex-html {
  @apply hidden;
}
