@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Title in navigation */
.clip {
  -webkit-mask-origin: border;
  mask: url('/static/title-vert.svg') left bottom / 700px 900px no-repeat,
    linear-gradient(#fff, #fff);
  /* -webkit-mask-composite: exclude; */
  mask-composite: exclude;
}

@screen lg {
  .clip {
    -webkit-mask-origin: border;
    mask: url('/static/title-vert.svg') left bottom / 1400px 1600px no-repeat,
      linear-gradient(#fff, #fff);
    /* -webkit-mask-composite: destination-out; */
    mask-composite: exclude;
  }
}

/* Universe */
#scatter {
  background: linear-gradient(to left top, #0d1c48, #0f062d);
}

#scatter > svg {
  cursor: grab;
  position: relative;
}

.welcome {
  left: 50% + 4rem;
}

@screen lg {
  .welcome {
    left: calc(50% + 4rem);
  }
}

.tooltip,
.tooltipScatter {
  position: absolute;
  @apply absolute -left-32 block w-full max-w-md text-xl !text-fuchsia-400 px-8 py-6 bg-gray-800 bg-opacity-80 rounded;
}

/* Prose */

.star-content.prose p:first-child:first-letter {
  float: left;
  @apply text-cyan text-7xl font-bold pt-2 pr-4;
}

.prose a {
  @apply transform ease-in-out duration-300;
}
